@page "/"

<PageTitle>Race Schedule</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



//catch only the exception I am worried about
// have t heui response in a easy way
// only catch the exceptions
    they all inherit from exception

catch everything and logg the exception errors
    failed to load data
menu back button compared to the browser back button

!!catch argument exception!!

